/* without any kind of CSS, there will be always a default CSS styling applied to various elements by the browser;
        if by some reason the styling does not seem to render any changes to the website, first check the default styling and
        override it */
        
        
        h1, h2, h3{
            text-align: center;
            color: #ffffff;

        }
        th, tr{
            background-color: #ffffff;
            color: #000000;
        }
        table, td{
            margin-bottom: 30px;
            background-color: #000000;
            color: #ffffff;
        }  
        body, a{
            background-color: #000000;
            color: #ffffff;
            text-align: justify;    
        }

        img{
            background-color: #000000;
        }
        /* NOTE: all elements on a webpage are just boxes of different shapes; so utilizing the styling attributes we can affect the dimensions of
        the box and style them */



   