/* without any kind of CSS, there will be always a default CSS styling applied to various elements by the browser;
        if by some reason the styling does not seem to render any changes to the website, first check the default styling and
        override it */
        
        
        h1, h2, h3{
            text-align: center;
            color: #e8e8e8;
            background-color: #495464;
            
        }
        th, tr{
            background-color: #ececfc;
            color: #353535;
        }
        table, td{
            margin-bottom: 30px;
            background-color: #000000;
            color: #f4f4f2;
            text-align: left;
        }  
        body{
            background-color: #000000;
            color: #f4f4f2;
        }
        a{
            color: lightskyblue;
        }

        img{
            background-color: #000000;
        }

        span{
            color: #393e46;
            background-color: #f4f4f2;
            font-weight: bolder;
        }

        .centering{
            margin-bottom: 30px;
            margin: auto;
        }
        footer{
            margin-top: 30px;
        }
        .optional-contact{
            text-align: left;
        }
        /* NOTE: all elements on a webpage are just boxes of different shapes; so utilizing the styling attributes we can affect the dimensions of
        the box and style them */



   